body {
	background-color: rgb(249,255,245);
	color: black;
	font-family: Helvetica
}
h1, {
	text-transform: uppercase;
}
nav{
	font-size: 15px;
	text-decoration: none;
	letter-spacing: 5px;
}
p {
	
}
section {
	background: url("../images/goodworkingatmosphere.jpg"); /*not working*/
	height: 500px;
	background-repeat: no-repeat;
	text-align: center;
	font-size: 15px;
	margin-right: 600px
}
#girls{
	margin-left: 100px; /*not working*/
}
hr{
	border-style: solid;
}
ul{
	font-size: 15px;
	letter-spacing: 7px; /*not working*/
}
#start {}

#thisis{
letter-spacing: 2px;
}
h4{
	font-style: bold;
}