@import url(https://fonts.googleapis.com/css?family=Crimson+Text);
@import url(https://fonts.googleapis.com/css?family=Ultra);

body {
	background-color: rgb(249,255,245);
	color: black;
}

header, section, hr, footer {
	width: 80%;
}

nav, section, footer, ul {
	font-size: 16px;
}

header {
	margin: auto;
	text-align: center;
}

h1 {
	font-style: bold;
	font-family: 'Ultra', serif;
	text-transform: uppercase;
}

nav {
	margin-left: auto;
	margin-right: auto; 
	margin-bottom: 10em;
	letter-spacing: .9em;
}

a {
	text-decoration: none;
	color: black;
	padding: 3em;
}

section {
	padding-bottom: 2em;
	margin: auto;
}

p, nav, ul, footer {
	font-family: 'Crimson Text', serif;
	}

#left {
	padding-top: 2%;
	padding-right: 2%;
	float: left;
	width: 26%;
}

#right {
	background: url("../images/outiatherdesk.jpg") no-repeat center center scroll; /*difference between bg img and image?*/
	background-size: cover; /*what does cover mean in this case?*/
	height: 35em;
	/*height: 533px;*/
	background-color: rgb(249, 255, 245);
	float: right;
	width: 66%;
padding-left: 4%; 
padding-top: 2%;
	word-spacing: 2px;
	line-height: 2em;
}

#two_column {
}

	h4 {
	font-style: bold;
	font-family: 'Ultra', serif;
}

ul {
	list-style: none;
}

hr {
	border-style: solid;
	margin: auto;
}

#thisis{
	letter-spacing: normal;
	text-transform: lowercase;
}

#utlabore {
	font-weight: bold;
	color: red;
}

.clearfix:after {
	height: 0;
	font-size: 0;
	visibility: hidden;
	display: block;
	content: " ";
	clear: both;
}

footer {
	margin-left: 10%;
	padding-top: 10px;
	padding-bottom: 50px;	
}

#contact{
	float: left;
}

footer img {
	float: right;
	width: 180px;
}

@media screen only and (max-width: 848px) {
a {
	display: block;
	}
}

@media screen only and (max-width: 650px) {
	section {
		display: block;
	}
}

@media screen only and (max-width: 795px) {
	h1 {
		font-size: 25px
	}
}