@import url(https://fonts.googleapis.com/css?family=Crimson+Text);
@import url(https://fonts.googleapis.com/css?family=Ultra);

body {
	background-color: rgb(249,255,245);
	color: black;
}

h1 {
	font-style: bold;
	font-family: 'Ultra', serif;
	text-transform: uppercase;
}

nav{
	font-size: 15px;
	width: 1200px;
	margin-left: auto;
	margin-right: auto;
	text-decoration: none;
	letter-spacing: 9px;
	word-spacing: ;
	line-height: ;
}

p, nav, ul {
font-family: 'Crimson Text', serif;
	}
p {
	column-count: ;
}
nav {
	text-decoration: none; /*why is the line not disappearing?*/
}
header {
	background-image: url("../images/captainoutihamara.jpg");
	height: 500px;
	background-repeat: no-repeat;
	text-align: center;
}

#utlabore {
	font-weight: bold;
	color: red;
}
hr{
	border-style: solid;
}

ul{
	font-size: 15px;
	list-style: none;
}

#thisis{
letter-spacing: .5;
text-transform: lowercase;
}

h4{
	font-style: bold;
	font-family: 'Ultra', serif;
}

section {
	background: url("../images/goodworkingatmosphere.jpg");
	background-repeat: no-repeat;
	text-align: left;
	font-size: 15px;
	margin-right: 100px;
	padding-bottom: 200px;
}

footer {
	padding-top: 50px;
	padding-bottom: 10px;
	background-image: url("../images/outi.jpg");
	background-repeat: none;
	webkit-column-count: 2; /*not working*/
}