@import url(https://fonts.googleapis.com/css?family=Crimson+Text);
@import url(https://fonts.googleapis.com/css?family=Ultra);

* { 
		margin:0;
		padding:0;
		box-sizing:border-box;
}

body{
		background-color: rgb(249,255,245);
		color: black;
}

header, section, hr, footer {
	width: 80%;
}

nav, section, footer, ul {
		font-size: 16px;
}

header{
		margin: auto;
		text-align: center;
}

h1{
		font-style: bold;
		font-family: 'Ultra', serif;
		text-transform: uppercase;
}

nav{
		margin: 1em 2em 4em 2em; 
		letter-spacing: .5em;
		display: block;
		text-decoration: none; /*ISN'T WORKING!*/
		color: black;
}

a{
		text-decoration: none;
		color: #000;
}

section{
		padding-bottom: 2em;
		margin: auto;
}

p, nav, ul, footer {
		font-family: 'Crimson Text', serif;
	}

a:hover{
		text-transform: underline;
}

#left {
		padding:2em;
		float: left; 
		width: 33.33%;
}

#right{
		background: url("../images/outiatherdesk.jpg") no-repeat center center scroll; /*difference between bg img and image?*/
		background-size: cover; /*what does cover mean in this case?*/
		height: 35em;
		/*height: 533px;*/
		background-color: rgb(249, 255, 245);
		float: left;
		width: 64.66%;
		margin-left: 2%;
		padding:2em;
		word-spacing: 2px;
		line-height: 2em;
}

#upperlogo{
		margin-top: 2em;
		width: 180px;
}

	h4{
		font-style: bold;
		font-family: 'Ultra', serif;
}

ul{
		list-style: none;
}

#thisis{
		letter-spacing: normal;
		text-transform: lowercase;
}

#utlabore{
		font-weight: bold;
		color: red;
	}

.clearfix:after{
	height: 0;
	font-size: 0;
	visibility: hidden;
	display: block;
	content: " ";
	clear: both;
}

footer{
		margin-left: 10%;
		padding-top: 1em;
		padding-bottom: 50px;	
		border-top: 1px solid;
}

#contact{
		float: left;
}

#mail{
		text-decoration: none;
		color: inherit;
}

footer img{
		float: right;
		width: 180px;
}

@media only screen and (max-width: 944px) {

a{
	display: block;
	text-decoration: none;
	color: black;
}

nav{
	margin-bottom: 2em;
	}
}

@media only screen and (max-width: 900px) {
	#left, #right {
		float: none;
		width: auto;
	}
}

@media only screen and (max-width: 730px){
	/*this is the scree size where i want to duplicate the logo into the top of the page and replace the nav links with an hamburger icon - possible?*/
	article{
		display:none; }
		#contact, footer img {
		float: none;
		display: block;
		padding-bottom: 2em;
		text-align: center;
		margin: auto;
	}}

@media only screen and (min-width: 730px){

	#upperlogo{
		display: none;
	}}
	

@media only screen and (max-width: 550px){
	}	a:active{
		color: red;
			}} /*ISN'T WORKING! (/is working for all screen sizes)*/



